* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.topheader {
   text-align: center;

    p {
        background-color: rgb(2, 2, 112);
        color: white;
        padding: 5px;
        font-size: 14px;
    }
}

.containerr {
    margin-left: 50px;
    margin-right: 50px;

    .header {
        display: flex;

        a {
            text-decoration: none;
            padding: 8px;
            font-size: 13px;
            color: rgb(17, 14, 14);
            font-weight: 400;
        }

        a:hover {
            color: rgb(0, 162, 255);
        }

        .middleheader {
            font-size: 13px;
            margin-left: 83px;

            span {
                border-right: 1px solid rgb(233, 224, 224);
                padding-right: 30px;
            }
        }

        .rightheader {
            border-right: 1px solid rgb(233, 224, 224);

            p {
                font-size: 14px;
                margin-left: 20px;

                a {
                    color: rgb(4, 182, 253);
                    padding: 0px;
                    font-weight: bolder;
                }

                a:hover {
                    border-bottom: 1px solid rgb(31, 0, 117);
                    padding: 0px;
                }
            }


        }

        .endheader {
            p {
                margin-left: 3px;
                font-size: 13px;
            }

            i {
                margin-left: 5px;
                font-size: 9px;
                margin-top: 5px;
            }
        }
    }
}

.sec1 {
    .topsec1 {
        span {
            position: relative;
            top: 47px;
            color: rgb(146, 141, 141);
            font-size: 12.9px;
        }

        .location {
            border-radius: 1%;
            box-shadow: 1px 1px 3px;
            border: 1px solid rgb(216, 202, 202);
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 70px;
            margin-right: 60px;
            height: 59px;
        }

        .input {
            position: relative;

            input {
                background-color: rgb(231, 227, 227);
                border: 1px solid rgb(213, 223, 223);
                border-radius: 10px;
                width: 100%;
                height: 55px;
                padding: 0px 33px 0px 15px;
            }

            i {
                position: absolute;
                font-size: 16px;
                right: 11px;
                top: 20px;
            }
        }

        .righttopsec1 {
            margin-top: 9px;
            font-size: 18px;
            margin-left: 40px;

            i {
                color: rgb(0, 0, 0);
                border: 1px solid rgb(228, 218, 218);
                padding: 12px;
                border-radius: 100%;
            }

            .shopping {
                color: red;
                background-color: rgb(255, 215, 215);
                position: relative;


                span {
                    position: absolute;
                    top: -9px;
                    color: rgb(255, 255, 255);
                    background-color: red;
                    font-weight: bold;
                    border-radius: 100%;
                    padding: 4px;
                    border: 1px solid red;
                }
            }
        }
    }
}

.lowersec1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;

    .leftlowersec1 {
        width: 20%;
        .categories {
            padding: 20px;
            border: 1px solid rgb(78, 188, 221);
            background-color: rgb(78, 188, 221);
            border-radius: 30px;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 14px;

            span {
                font-weight: bold;
            }
        }

        .total {
            background-color: rgb(223, 210, 210);
            border: 1px solid rgb(199, 189, 189);
            border-radius: 30px;
            font-size: 11px;
            width: 63%;
            text-align: center;
            margin-left: 35px;
            margin-top: -13px;
            font-weight: bold;
        }
    }

    .rightlowersec1 {
        margin-left: 230px;
        margin-top: 15px;

        a {
            text-decoration: none;
            font-size: 15px;
            color: rgb(73, 70, 70);
            font-weight:bold;
        }

        i {
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}

.container1 {
    margin-left: 85px;
    margin-right: 85px;
}
.topsec2 {
    display: flex;
    justify-content: space-between;

    .toprightimg {
        img {
            width: 100%;
            height: 510px;
        }
    }

    .topleftimg {
        button {
            background-color: #2BBEF9;
            border: 1px solid #2BBEF9;
            border-radius: 18px;
            padding: 10px 18px;
            color: white;
            font-weight: bold;
            top: 367px;
            left: 76px;
            position: absolute;
        }
    }
}

.lowersec2 {
    margin-top: 40px;
    display: flex;

    .leftlowerimg,.rightlowerimg {
        position: relative;

        .text {
            position: absolute;
            margin-top: -220px;
            margin-left: 300px;
            color: rgb(81, 1, 97);

            button {
                background-color: rgb(1, 6, 255);
                color: white;
                padding: 9px 15px;
                border: 1px solid rgb(1, 6, 255);
                border-radius: 20px;
            }
        }
    }
      .rightlowerimg {
        margin-left: 20px;
    }
}


.sec3 {
    margin-top: 40px;

    .text {
        display: flex;
        justify-content: space-between;

        .lefttext {
            p {
                color: rgb(170, 169, 169);
            }
        }

        .righttext {
            a {
                text-decoration: none;
                color: #4d4d4d;
            }

            a:hover {
                color: black;
            }

            display: flex;
            border: 1px solid rgb(211, 200, 200);
            padding: 10px 25px 0px 25px;
            margin-bottom: 40px;
            border-radius: 60px;
            color: gray;

            p {
                margin-right: 10px;
            }

            i {
                margin-top: 3px;
            }
        }

    }

    .sec3slider {
        margin-top: 10px;

        .slick-prev {
            margin-left: 8px;
            z-index: 1;
            margin-top: -60px;
        }

        .slick-next {
            margin-right: 30px;
            margin-top: -60px;
            z-index: 1;
        }

        border-right: 1px solid rgb(241, 241, 241);

        .card {
            border-color: rgb(236, 243, 236);

            img {
                width: 94%;
            }

            .cardimg {
                position: relative;

                p {
                    position: absolute;
                    top: 0;
                    background-color: #2BBEF9;
                    padding: 5px 10px;
                    border-radius: 8px;
                    font-weight: bold;
                    color: white;
                }

                h6 {
                    top: 35px;
                    left: 10px;
                    position: absolute;
                    background-color: aliceblue;
                    font-size: 14px;
                    color: green;
                    padding: 5px 9px;
                    border-radius: 8px;
                }
            }

            .card-body {
                .stock-p {
                    color: rgb(0, 172, 29);
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    color: #0e0e0e;
                }

                .staricon {
                    display: flex;

                    i {
                        color: rgb(206, 206, 6);
                    }

                    .count {
                        margin-left: 8px;
                        margin-bottom: 0px;
                        font-size: 14px;
                    }
                }

                .price {
                    display: flex;
                    width: 55%;
                    margin-top: 10px;

                    justify-content: space-between;

                    .delprice {
                        font-size: 16px;
                        color: rgb(182, 178, 178);
                    }

                    .nowprice {
                        color: red;
                        font-weight: bold;
                        font-size: 19px;
                        margin-top: -4px;
                        margin-left: 10px;
                    }
                }

                .btn {
                    border-radius: 50px;
                    width: 100%;
                    margin-top: 35px;
                }
            }
        }
    }
}


.sec4 {
    background-color: rgb(255, 234, 234);
    height: 20vh;
    margin-top: 40px;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    #left {
        p {
            font-size: 19px;
            color: rgb(0, 167, 0);
            margin-left: 40px;
        }
    }

    #middle {
        height: 21vh;

        img {
            height: 20vh;
            width: 100%;
            opacity: 1;
            position: relative;
            left: 60px;
        }
    }

    #right {

        button {
            background-color: rgb(35, 141, 61);
            font-weight: bold;
            padding: 10px 18px;
            position: relative;
            left: 140px;
            color: white;
            border: 1px solid rgb(0, 136, 34);
            border-radius: 50px;
        }
    }
}

.sec5,
.sec7 {

    .topsec5,
    .topsec7 {
        margin-top: 40px;

        .text {
            display: flex;
            justify-content: space-between;

            .lefttext {
                p {
                    color: rgb(155, 153, 153);
                }
            }

            .righttext {
                display: flex;
                border: 1px solid rgb(211, 200, 200);
                padding: 10px 25px 0px 25px;
                margin-bottom: 40px;
                border-radius: 60px;
                color: gray;

                a {
                    text-decoration: none;
                    color: #4d4d4d;
                }

                a:hover {
                    color: black;
                }
            }

            p {
                margin-right: 10px;
            }

            i {
                margin-top: 3px;
            }
        }
    }
}


.lowersec5 {
    .rightlower {
        .card {
            .card-title {
                font-size: 15px;
            }

            border-color: rgb(236, 243, 236);
            width: 25%;

            img {
                width: 94%;
                margin-top: 20px;
            }

            .cardimg {
                position: relative;

                p {
                    position: absolute;
                    top: 0;
                    left: 25px;
                    background-color: #2BBEF9;
                    padding: 5px 10px;
                    border-radius: 8px;
                    font-weight: bold;
                    color: white;
                }

                h6 {
                    top: 35px;
                    left: 10px;
                    position: absolute;
                    background-color: aliceblue;
                    font-size: 14px;
                    color: green;
                    padding: 5px 9px;
                    border-radius: 8px;
                }
            }

            .card-body {
                .stock-p {
                    color: rgb(0, 172, 29);
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    color: #0e0e0e;
                }

                .staricon {
                    display: flex;

                    i {
                        color: rgb(206, 206, 6);
                    }

                    .count {
                        margin-left: 8px;
                        margin-bottom: 0px;
                        font-size: 14px;
                    }
                }

                .price {
                    display: flex;
                    width: 55%;
                    margin-top: 10px;
                    justify-content: space-between;

                    .delprice {
                        font-size: 16px;
                        color: rgb(182, 178, 178);
                    }

                    .nowprice {
                        color: red;
                        font-weight: bold;
                        font-size: 19px;
                        margin-top: -4px;
                        margin-left: 10px;
                    }
                }

                .btn {
                    border-radius: 50px;
                    width: 100%;
                    margin-top: 35px;
                }
            }
        }
    }

    .leftlower {
        a {
            text-decoration: none;
            color: #0e0e0e;
        }

        a :hover {
            color: rgb(0, 134, 116);

        }

        .img {
            position: relative;

            img {
                height: 340px;
                width: 100%;
            }
        }

        .text {
            position: absolute;
            top: 30px;
            left: 39px;
            color: rgb(0, 0, 41);

            #first {
                font-size: 20px;
            }

            #second {
                font-size: 26px;
                margin-top: -17px;
            }

            .btn {
                background-color: rgb(0, 0, 151);
                color: white;
                border-radius: 30px;
                margin-left: 10px;
                padding: 8px 22px;
            }

            .btn:hover {
                opacity: 0.7;
            }
        }

        .middletext {
            font-size: 14px;
            color: rgba(0, 16, 85, 0.651);
            margin-top: 42px;
            font-weight: 500;
            display: flex;
            justify-content: space-around;

            .leftmiddletext {
                width: 35%;
            }
        }

        .lowertext {
            margin-top: 100px;
            margin-left: 34px;
            display: flex;

            a {
                color: rgb(48, 50, 196);
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
            }

            i {
                justify-content: center;
                margin-top: 4px;
                color: rgba(48, 51, 196, 0.911);
                margin-left: 13px;
            }

            :hover {
                color: rgb(0, 4, 255);
            }
        }

    }
}

.sec6 {
    margin-top: 50px;

    .text {
        display: flex;

        background-color: rgb(245, 224, 219);
        justify-content: center;

        .lefttext {
            color: red;
            font-size: 18px;
            position: relative;
            right: 60px;

            p {
                text-align: center;
                display: flex;
                margin-top: 8%;

                a {
                    color: red;
                }
            }
        }

        .middletext {
            font-size: 16px;
            color: red;
            background-color: transparent;
            position: relative;
            right: 35px;

            p {
                margin-top: 16%;
                border: 1px dashed red;
                padding: 6px 18px;
                border-radius: 25px;
                font-weight: bold;
            }
        }

        .righttext {
            color: gray;
            margin-top: 25px;
        }
    }
}


.sec8 {
    width: 100%;
    display: flex;

    .topsec8 {
        margin-top: 40px;

        .img {
            width: 100%;
            display: flex;
            position: relative;

            img {
                width: 95%;
            }

            .middle {
                position: relative;
                left: 12px;
            }

            .right {
                position: relative;
                left: 20px;
            }

            .text {
                position: absolute;
                top: 40px;
                left: 40px;
            }

            .text {
                #firstline {
                    font-size: 15px;
                    color: #00c917;
                    font-weight: bold;
                }

                #secondline {
                    margin-top: -7px;
                    font-size: 26px;
                    font-weight: bold;
                }

                #thirdline {
                    font-size: 14px;
                    color: gray;
                }

                #btn {
                    padding: 5px 20px;
                    border-radius: 20px;
                    border: 1px solid transparent;
                    background-color: rgb(153, 151, 151);
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

.sec9 {
    height: 330px;
    display: flex;
    margin-top: 40px;

    .leftside {
        position: relative;
        border: 1px solid rgb(245, 243, 243);

        .img {
            img {
                height: 190px;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 80%;
            }
        }

        .text {
            position: absolute;
            top: 250px;
            left: 50px;

            p {
                text-align: center;
            }
        }
    }

    .rightside {
        border: 1px solid rgb(247, 247, 247);
        border-left: none;
        display: flex;
        flex-wrap: wrap;

        .all {
            display: flex;
            width: 25%;
            border: 1px solid rgb(241, 241, 241);

            a {
                img {
                    width: 100%;
                    height: 90px;
                    margin-top: 35px;
                    margin-left: 12px;
                }
            }

            .text {
                margin-top: 49px;
                margin-left: 7px;

                p {
                    font-size: 15px;
                    color: rgb(180, 180, 180);
                }

                h5 {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

.sec10 {
    .topsec10 {
        background-color: rgba(1, 1, 167, 0.801);
        height: 55vh;
        margin-top: 100px;
        display: flex;
        position: relative;

        .leftside {
            color: white;
            position: absolute;
            top: 65px;
            left: 80px;

            #firstline {
                font-size: 19px;
            }

            #secondline {
                font-size: 29px;
            }

            #thirdline {
                color: rgba(189, 186, 186, 0.993);
            }

            .fourthline {
                width: 90%;
                background-color: white;
                display: flex;
                position: relative;
                height: 10vh;
                top: 10px;
                border-radius: 5px;
            }

            i {
                color: rgb(109, 106, 106);
                font-size: 19px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translatey(-50%);
            }

            input {
                width: 68%;
                border: none;
                margin-left: 30px;
                position: relative;
                left: 20px;
                padding: 0px 8px;
                outline: none;

            }

            button {
                padding: 14px 18px;
                background-color: rgba(1, 1, 167, 0.801);
                color: white;
                font-size: large;
                border: none;
                border-radius: 5px;
                margin-top: 6px;
                margin-bottom: 6px;
                position: absolute;
                right: 7px;
            }
        }

        .rightside {
            position: absolute;
            bottom: 0px;
            left: 55%;
        }
    }
}

footer {

    .footer {
        background-color: #f7f7ff;

        .container1 {
            .topfooter {
                display: flex;
            }

            hr {
                margin-top: 50px;
            }

            .topfootertext {
                margin-top: 40px;
                border-left: 1px solid rgb(128, 125, 125);
                display: flex;
                justify-content: center;

                i {
                    margin-top: 12px;
                    margin-right: 10px;
                }

                p {
                    font-weight: 500;
                    font-size: 14px;
                    margin-top: 8px;
                    margin-bottom: 5px;
                }
            }
        }

        .middlefooter {
            display: flex;
            justify-content: space-between;

            .middlefootertext {
                height: 90vh;
                position: relative;
                top: 90px;

                a {
                    text-decoration: none;
                }

                h5 {
                    margin-bottom: 30px;
                    font-size: 17px;
                }

                p {
                    font-size: 14px;
                    color: rgb(102, 102, 102);
                    margin-top: -5px;
                }
            }
        }
    }
}

.lowfooter {
    display: flex;
    position: relative;
    top: 50px;

    .leftlow {
        display: flex;
        position: relative;
        left: 90px;

        i {
            margin-top: 6px;
            font-size: 19px;
            border: 1px solid rgb(219, 219, 219);
            padding: 12px 13px;
            border-radius: 100%;
            color: #b8b8b8;
        }

        .text {
            position: absolute;
            left: 60px;

            p {
                font-size: 13px;
                color: rgb(143, 143, 143);
            }
        }
    }

    .rightlow {
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 80px;

        .leftside {
            position: relative;
            width: 31%;

            h6 {
                font-weight: bolder;
                font-size: 14px;
                justify-content: flex-end;
                display: flex;
            }

            p {
                color: rgb(161, 161, 161);
                font-size: 13px;
                position: absolute;
                top: 16px;
            }
        }

        .rightside {
            i {
                font-size: 14px;
                margin-right: 5px;
                margin-top: 4px;
                border: 1px solid rgb(175, 175, 175);
                color: rgb(87, 87, 233);
                padding: 7px 10px;
                border-radius: 50%;
            }
        }
    }
}

.endfooter {
    display: flex;
    position: absolute;
    left: 80px;
    right: 80px;

    .leftside {
        p {
            font-size: 13px;
            color: rgb(160, 160, 160);
        }
    }

    .rightside {
        display: flex;
        justify-content: space-between;
        height: 3vh;

        a {
            font-size: 13px;
            text-decoration: none;
            color: rgb(160, 160, 160);
            position: relative;

            img {
                width: 95%;
                margin-top: -px;
            }
        }

        a:hover {
            border-bottom: 1px solid rgb(161, 161, 161);
        }
    }
}